/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Home Page
----------------------------------------- */

.screen_shot {
  height: 400px;
  width: 200px;
}

/* -----------------------------------------
   Detail
----------------------------------------- */

.recommendation_container {
    width: 900px;
    min-width: 600px;
    min-height:350px;
    height:460px;
    margin-top: 30px;
    border: 1px solid;
    border-color: gray;
}

.image_frame {
    width: 600px;
    height: 320px;
    padding: 15px 15px 5px 15px;
}

.nommed_text {
    width: 600px;
    min-height: 30px;
    padding-left: 15px;
    padding-top: 0px;
}

