<!-- Das Footer -->
<footer class="row">
  <section class="four columns">
    <h6><strong>Made by Nom.</strong></h6>
    <p>
      We believe that simplistic and intuitive interfaces make great software obvious.
      Nom strives to aid the world through an interesting transition to a ubiquitous
      computing world. Send mail to <span style="text-size:13px"><a href="mailto:team@justnom.it">the team</a>.</span>
    </p>
  </section>

  <section class="four columns">
    <h6><strong>API: Use Nom as a platform</strong></h6>
    <p>We have the <a href="http://github.com/bnorton/Nom-iOS-API" target="_blank">Nom-iOS-API</a> and 
      <a href="http://github.com/bnorton/nom-ruby" target="_blank">nom-ruby</a> for 
      interacting with us via API. Make your location aware application more knowledge-filled.
    </p>
    <ul>
      <li><h5>Developer Center</h5></li>
      <li><h6>API Examples:</h6></li>
      <li><a href="<%= nom_locations_api_example %>" target="_blank">Geolocated from San Francisco</a></li>
      <li><a href="<%= nom_activities_api_example %>" target="_blank">User Timeline Example</a></li>
      <li><a href="<%= nom_search_api_example %>" target="_blank">Search for 'Sushi' example</a></li>
    </ul>

  </section>

  <section class="four columns">
    <h6><strong>Need some help?</strong></h6>
    <p>For quick answers or help <a href="mailto:support@justnom.it">email us &rarr;</a></p>
    <ul class="block-grid three-up">
      <li style="width: 200px"> 
        <iframe allowtransparency="true" frameborder="0" scrolling="no"
          src="http://platform.twitter.com/widgets/follow_button.html?screen_name=nom_app"
          style="width:250px; height:26px; padding-right:5px">
        </iframe>
      </li>
      <li>
        <iframe src="http://www.facebook.com/plugins/like.php?app_id=101320443308896&amp;href=justnom.it&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=23" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:23px;" allowTransparency="true">
        </iframe>
      </li>
  </div>
  </section>
</footer>
<!-- /Das Footer -->
