<!-- Grid BG -->
<div id="gridBgShort" class="container hide-on-phones">
  <div class="white-fade"></div>
  <div class="row">
    <div class="one columns"></div>
    <div class="one columns hide-on-phones"></div>
    <div class="one columns hide-on-phones"></div>
    <div class="one columns hide-on-phones"></div>
    <div class="one columns hide-on-phones"></div>
    <div class="one columns hide-on-phones"></div>
    <div class="one columns hide-on-phones"></div>
    <div class="one columns hide-on-phones"></div>
    <div class="one columns hide-on-phones"></div>
    <div class="one columns hide-on-phones"></div>
    <div class="one columns hide-on-phones"></div>
    <div class="one columns hide-on-phones"></div>
  </div>
</div>
<!-- /Grid BG -->
