<nav class="on-page hide-on-phones">
  <ul>
    <li class="<%= title =~ /^Nom$/ ? 'current' : '' %>"><a class="green" href="./">Nom</a></li>
  </ul>
</nav>
<h1 class="light-weight"><%= title %></h1>
<h4><strong><%= tagline %></strong></h4>
<br>
