<!--[if lt IE 9]>
    <link rel="stylesheet" href="src/stylesheets/ie.css">
<![endif]-->

<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Bar -->
<div id="zurBar" class="container">
  <div class="row">
    <div class="four columns">
      <h1><a href="http://justnom.it">Nom</a></h1>
    </div>
    <div class="large eight columns hide-on-phones">
      <strong class="right">
          <a href="http://justnom.it/algorithms">Algorithms</a>
          <a href="http://justnom.it/team">The Team</a>
          <a href="http://justnom.it/support">Support</a>
          <a href="http://twitter.com/nom_app" target="_blank">Twitter</a>
          <a href="http://github.com/bnorton" target="_blank">Github</a>
          <a href="<%= nom_itunes_url %>" target="_blank" style="width:170px"
            class="medium green nice button src-download">Get it for iOS (App Store)
          </a>
      </strong>
    </div>
  </div>
</div>
<!-- /Bar -->
