<!--[if lt IE 9]>
    <link rel="stylesheet" href="src/stylesheets/ie.css">
<![endif]-->

<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Bar -->
<div id="zurBar" class="container">
  <div class="row">
    <div class="four columns">
      <h1><a href="./">Nom Project</a></h1>
    </div>
    <div class="large eight columns hide-on-phones">
      <strong class="right">
          <a href="./algorithms">Algorithms</a>
          <a href="./team">The Team</a>
          <a href="./support">Support</a>
          <a href="http://github.com/bnorton">Github</a>
          <a href="http://itunes.apple.com/nom_project" class="medium green nice button src-download">iOS (App Store)</a>
      </strong>
    </div>
  </div>
</div>
<!-- /Bar -->

<!-- Grid BG -->
<div id="gridBgShort" class="container hide-on-phones">
  <div class="white-fade"></div>
  <div class="row">
    <div class="one columns"></div>
    <div class="one columns hide-on-phones"></div>
    <div class="one columns hide-on-phones"></div>
    <div class="one columns hide-on-phones"></div>
    <div class="one columns hide-on-phones"></div>
    <div class="one columns hide-on-phones"></div>
    <div class="one columns hide-on-phones"></div>
    <div class="one columns hide-on-phones"></div>
    <div class="one columns hide-on-phones"></div>
    <div class="one columns hide-on-phones"></div>
    <div class="one columns hide-on-phones"></div>
    <div class="one columns hide-on-phones"></div>
  </div>
</div>
<!-- /Grid BG -->

<div id="insideContainer" class="container">
<!--  <div class="row hide-on-phones">
    <a href="./" class="back two columns hide-on-phones green">&larr; Home</a>
  </div>
-->

  <div class="row">
    <div class="eight columns">
        <nav class="on-page hide-on-phones">
          <ul>
            <li><a class="green" href="./">Nom</a></li>
            <li class="current"><a class="green" href="./project">The Nom Project</a></li>
          </ul>
        </nav>
      <h1 class="light-weight">Nom Project</h1>
      <h4><strong>The Intuitive way to to Find and Discover.</strong></h4>
      <br>
      <p style="max-width:650px"><h4>What is Nom?</h4>
      <br>
      <ul>
        <li>Nom tells you the best spots around so you don't need to figure out <strong>what's best.</strong></li>
        <li>Nom gives you a simple way to <strong>express your tastes</strong> and recommend what you like best.</li>
        <li>Nom shows you <strong>what locals do/eat/enjoy</strong> and lets you follow who share your tastes.</li>
        <li>It learns about what you like when you interact and gives better recommendations based on your habits.</li>
        <a class="green" href="blog.justnom.it/how-it-works">More&nbsp;&rarr;</a></p>
      </ul>
      <p style="max-width:650px"><h4>The Ideal Fit for the Nom Project:</h4>
      <br>
      <ul>
        <li>You are a pioneer of your world.</li>
        <li>The new spot on the corner; <strong>you've been there</strong>.</li>
        <li>Your friends look to <strong>you</strong> for a place to go.</li>
        <li>You know the fundamental <strong>difference</strong> between Cuisine A and Cuisine B.</li>
        <li>You are a Nom Project Owner.
        <a class="green" href="blog.justnom.it/project-owners">More&nbsp;&rarr;</a></p>
      </ul>
    </div>
    <div class="four columns right">
      <%= image_tag "samovar.png" %>
    </div>

  </div>
<!--  <div class="row">
    <div class="twelve columns">
      <a class="hide-on-phones nice blue button right" href="mobile.php">Mobility &rarr;</a>
    </div>
  </div> 
-->
  <!-- Das Footer -->
  <footer class="row">
    <section class="four columns">
      <h6><strong>Made by Nom Inc.</strong></h6>
      <p>I am Brian Norton (<a href="http://twitter.com/nort">@nort</a>). I live in San Francisco, graduated from UC Berkeley, and have since ventured out into the world of applications that strive to make a difference in the lives of others. Through simplistic and intuitive interfaces I hope to help the world through an interesting transition.</p>
    </section>

    <section class="four columns">
      <h6><strong>Using Nom as a platform?</strong></h6>
      <p>We have the <a href="http://github.com/bnorton/Nom-iOS-API">Nom-iOS-API</a> and <a href="http://github.com/bnorton/nom-ruby">nom-ruby (coming soon)</a> for interacting with us via API.</p>
    </section>

    <section class="four columns">
      <h6><strong>Need some help?</strong></h6>
      <p>For quick answers or help <a href="mailto:admin@justnom.it">email us &rarr;</a></p>
      <ul class="block-grid three-up">
        <li>
          <iframe allowtransparency="true" frameborder="0" scrolling="no"
            src="http://platform.twitter.com/widgets/follow_button.html?screen_name=nom_app"
            style="width:100px; height:26px;">
          </iframe>
        </li>
        <li>
          <iframe src="http://www.facebook.com/plugins/like.php?app_id=101320443308896&amp;href=justnom.it&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=23" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:23px;" allowTransparency="true">
          </iframe>
        </li>
    </div>
    </section>
  </footer>
  <!-- /Das Footer -->
</div>
<!-- /Main Container -->
