<%= render :partial => "top" %>

<div id="insideContainer" class="container">
<!--  <div class="row hide-on-phones">
    <a href="./" class="back two columns hide-on-phones green">&larr; Home</a>
  </div>
-->

  <div class="row">
    <div class="eight columns">

      <%= render :partial => "middle", :locals => { 
        :title => 'Team Nom',
        :tagline => 'People who know things, doing things.'
      } %>

      <p style="max-width:650px"><h4>Who are We?</h4>
        <br>
        <ul>
          <li>
            <h5>Brian Norton (Founder):</h5>
            I am Brian Norton ( <a href="http://twitter.com/nort">@nort</a> ).
            Graduated from UC Berkeley, live in San Francisco and have since ventured
            out into the world of software and applications. Nom is the first dip into
            full-stack development.
          </li>
        </ul>
        <a class="green" href="blog.justnom.it/hey-im-brian-norton">More&nbsp;&rarr;</a>
      </p>
      
    </div>
    <div class="four columns right">
      <%= image_tag "samovar.png" %>
    </div>

  </div>
<!--  <div class="row">
    <div class="twelve columns">
      <a class="hide-on-phones nice blue button right" href="mobile.php">Mobility &rarr;</a>
    </div>
  </div> 
-->

  <%= render :partial => 'footer' %>

</div>
<!-- /Main Container -->
